<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          actor {
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
          }
          
          remote {
            enabled-transports = ["akka.remote.dot-netty.tcp"]
            dot-netty.tcp {
              transport-class = "Akka.Transport.DotNetty.TcpTransport, Akka.Transport.DotNetty"
              hostname = "127.0.0.1"
              port = 2552
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>